<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Ayuda</title>
    </head>
    <body>
        <h1 align='center'>Ayuda de la ventana principal</h1>
        <h3>Atajos</h3>
        <hr>
        <ul>
            <li>alt+o <b>Opciones: </b> Habre el menu de opciones.
                <ul>
                    <li>alt+S <b>Salir</b> Cierra la aplicación</li>
                    <li>alt+C <b>Cerrar sesión</b> Cierra la sesión actual de la aplicación.</li>
                </ul>
            </li>
        </ul>
    </body>
</html>
